.table-conatiner{
    padding:20px;
    max-width: 1500px;
    margin:0 auto;
}

.products-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: 3px solid #ddd;
}
.products-table th{
     border: 3px solid #ddd;
    padding:8px;
    
    vertical-align: middle;
    margin-left: 20px;

}


.products-table td{
    border: 3px solid #ddd;
    padding:8px;
    text-align: left;
    vertical-align: middle;
}

.products-table th{
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    color:#555;

}
.products-table tr:nth-child(even){
    background-color: #f9f9f9;
}
.products-table td:nth-child(4){
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-table tr:hover{
    background-color: #f1f1f1;
}
.products-table td:last-child{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding:10px 17px;
}


.product-image{
    width: 90px;
    height:80px;
    object-fit: contain;
}
.edit-btn,
.delete-btn{
    padding:6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    outline: none;
}
.edit-btn:focus,
.delete-btn:focus{
    filter:brightness(0.9);
}


.edit-btn{
    background-color: #4caf50;
    color:white;
    border: none;
   
}

.edit-btn:hover{
    background-color: #45a049;
}

.delete-btn{
    background-color: #f44336;
    color:white;
    border: none;
}

.delete-btn:hover{
    background-color: #d32f2f;
}
.loading-message,.error-message{
    text-align: center;
    font-size: 20px;
    color:#888;
    margin-top: 50px;
    


}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;;
}
.head{
    font-weight: bold;
    font-size: 23px;
    color: black;
   
}

.edit-input{
    width:98%;
    padding:8px;
    font-size: 15px;
    border: 1px solid #007bff;
    border-radius: 4px;
}
.edit-input-small{
    width: 90%;
    padding:8px;
    font-size: 15px;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-align: right;
}









